---
title: "Entrar"
language: "en"
---

$(if chap-id)
  <form name="sendin" action="$(link-login-only)" method="post">
    <input type="hidden" name="username" />
    <input type="hidden" name="password" />
    <input type="hidden" name="dst" value="$(link-orig)" />
    <input type="hidden" name="popup" value="true" />
  </form>

  <script type="text/javascript" src="/md5.js"></script>
  <script type="text/javascript">
  <!--
  function doLogin() {
    document.sendin.username.value = document.login.username.value;
    document.sendin.password.value = hexMD5('$(chap-id)' + document.login.password.value + '$(chap-challenge)');
    document.sendin.submit();
    return false;
   }
  //-->
  </script>
$(endif)

<div id="login">
  <header>
    <div class="info">
      <h1><%= current_page.data.title %></h1>
      <span>
        Favor autenticar para usar o serviço de internet<br>
        $(if trial == 'yes')
          Teste gratuíto disponível,
          <a href="$(link-login-only)?dst=$(link-orig-esc)&amp;username=T-$(mac-esc)">
            Clique aqui
          </a>.
        $(endif)
      </span>
    </div>
  </header>

  <section>
    <div class="thumbnail">
      <%= image_tag 'logo-code4web.svg' %>
    </div>
    <form name="login" action="$(link-login-only)" method="post"
        $(if chap-id) onSubmit="return doLogin()" $(endif)>
      <input type="hidden" name="dst" value="$(link-orig)" />
      <input type="hidden" name="popup" value="true" />
      <input name="username" type="text" value="$(username)" placeholder="Usuário"/>
      <input name="password" type="password" placeholder="Senha"/>
      <input type="submit" value="OK" />
    </form>
  </section>
</div>

$(if error)
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Atenção!</strong> $(error)
  </div>
$(endif)

<script type="text/javascript">
<!--
document.login.username.focus();

var links = document.querySelectorAll('.alert a.close');
Array.prototype.forEach.call(links, function (link) {
  link.addEventListener('click', function (e) {
    e.preventDefault();
    var parent = e.target.parentElement;
    parent.classList.remove('in');
  });
});

//-->
</script>
